<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IBooking"
        tools:targetApi="31">
        <activity
            android:name=".BookActivity"
            android:exported="false" />
        <activity
            android:name=".CamelliaActivity"
            android:exported="false" />
        <activity
            android:name=".LadjaActivity"
            android:exported="false" />
        <activity
            android:name=".JadeActivity"
            android:exported="false" />
        <activity
            android:name=".OasisActivity"
            android:exported="false" />
        <activity
            android:name=".BirdresortActivity"
            android:exported="false" />
        <activity
            android:name=".ShrangilaActivity"
            android:exported="false" />
        <activity
            android:name=".OnaraActivity"
            android:exported="false" />
        <activity
            android:name=".CultureActivity"
            android:exported="false" />
        <activity
            android:name=".ScapeActivity"
            android:exported="false" />
        <activity
            android:name=".GrandRockActivity"
            android:exported="false" />
        <activity
            android:name=".TopsecreActivity"
            android:exported="false" />
        <activity
            android:name=".NildiyaActivity"
            android:exported="false" />
        <activity
            android:name=".JetwinActivity"
            android:exported="false" />
        <activity
            android:name=".GrennCasaActivity"
            android:exported="false" />
        <activity
            android:name=".CityStayActivity"
            android:exported="false" />
        <activity
            android:name=".AmariHotelActivity"
            android:exported="false" />
        <activity
            android:name=".GalleFortActivity"
            android:exported="false" />
        <activity
            android:name=".YaragalleActivity"
            android:exported="false" />
        <activity
            android:name=".HambanActivity"
            android:exported="false" />
        <activity
            android:name=".MataraActivity"
            android:exported="false" />
        <activity
            android:name=".GalleActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>